.projCard {
    height: 500px;
    font-size: 14px;
}

.title {
    text-align: center;
}

.projCardImg {
    height: 275px;
}

.box {
    margin: 0px 150px;
}

.tech {
    position: 0px;
    bottom: 0px;
    left: 0px;
}